@model List<realstate.models.ViewModels.VMModels.ListPlotsToAnyone>
@using realstate.utility;
@{
    ViewData["Title"] = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var altImage = "https://www.feednavigator.com/var/wrbm_gb_food_pharma/storage/images/9/2/8/5/235829-6-eng-GB/Feed-Test-SIC-Feed-20142.jpg";
    var verifiedHighlight = "border-primary";
    int currentPage = Convert.ToInt32(ViewBag.currentPage);
    int pageCount = Convert.ToInt32(ViewBag.pageCount);


}

<style>
    .card {
        position: relative;
    }

        .card .card-badge {
            position: absolute;
            top: -10px;
            left: -30px;
            padding: 5px;
            background: #ce210e;
            color: white;
            transform: rotate(-20deg);
        }
</style>
@{
    await Html.RenderPartialAsync("BreadCrumbPartialView", new string[] { });
}


<div class="font-weight-bold text-lg-center text-light">
    <h3>Pakistan's only real estate platform with 1000+ highly rated sellers</h3>
</div>
@using (Html.BeginForm("PlotsWithPagination", "Plot", FormMethod.Get))
{
    <div class="container" style="margin-bottom:120px">
        <form>
            <div class="container font-weight-bold  text-light">


                <label class="radio-inline p-lg-3">
                    <input type="radio" class="form-check-input" name="category" value="Buy">Buy
                </label>
                <label class="radio-inline p-lg-3">
                    <input type="radio" name="category" class="form-check-input" value="Sell">Sell
                </label>
                <label class="radio-inline p-lg-3">
                    <input type="radio" name="category" class="form-check-input" value="DataAnalytics">Data Analytics
                </label>

            </div>
            <div class="container">
                <div class=" row">
                    <div class="col-lg-10 p-lg-2">
                        <input type="search" value="" placeholder="enter society name" class="form-control" name="search" />
                    </div>
                    <div class="col-lg-2 p-lg-2">
                        <input type="submit" class="form-control" value="search" />
                    </div>


                </div>
            </div>
        </form>
    </div>


}

<div class="container" id="allPlots">
    @for (int i = 0; i < Model.Count;)
    {


        <div class="row bg-light p-3">

            @for (int j = 0; j < 3 && i < Model.Count; j++)
            {
                <div class="col-sm-12 col-md-4 h-100">
                    <div class="card @verifiedHighlight">

                        <img class="card-img-top img-thumbnail img-fluid" style="height:400px;" src="@Model[i].Photos.FirstOrDefault()?.PublicURL??@altImage" alt="Image not available">

                        <div class="card-body">
                            <div class="text-center">
                                <Label class="card-title fw-bold">@Model[i].Username</Label>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">SocietyName</Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">:</Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <h5 class="card-title overflow-hidden">@Model[i]._Plot?.SocietyTBL.Name.ToUpper()</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">Block </Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">:</Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <h5 class="card-title overflow-hidden">@Model[i]._Plot?.Block</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">Price </Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">:</Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <h5 class="card-title overflow-hidden ">@Model[i]._Plot?.Price</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">Type </Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <Label class="card-title fw-bold">:</Label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <h5 class="card-title overflow-hidden ">@Model[i]._Plot?.Type</h5>
                                    </div>
                                </div>
                                @* <textarea disabled class="card-text overflow-auto" style="min-height:200px; width:150px; max-height:300px; max-width:300px">@plotData.PlotTBL?.Description</textarea>*@

                                <div class="row">
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <a href="mailto:@Model[i].Email" class="btn btn-outline-primary pr-lg-5">Email</a>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <a href="tel:@Model[i].Phone" class="btn btn-outline-primary pr-lg-5">SMS</a>
                                    </div>
                                    <div class="col-sm-12 col-md-4 h-100">
                                        <a href="tel:@Model[i].Phone" class="btn btn-primary pr-lg-5">Call</a>
                                    </div>
                                </div>
                                <a asp-action="Detail" asp-route-id="@Model[i]._Plot.PlotId" class="btn btn-outline-info pr-lg-5">Details</a>
                            </div>
                        </div>
                        @if (Model[i].IsVerified)
                        {
                            <span class="card-badge badge badge-primary">Verified Agent</span>
                        }
                    </div>
                </div>

                i++;
            }


            @*<div class="col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>*@
        </div>





    }

</div>

@*<nav aria-label="...">
        <ul class="pagination pagination-sm">
            @if (currentPage >= 3)
            {
                for (int i = currentPage - 2; i <= pageCount; i++)
                {


                    if (i == currentPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="PlotsWithPagination" asp-route-page="@currentPage" tabindex="-1">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="PlotsWithPagination" asp-route-page="@i">@i</a></li>
                    }
                    if (i > (currentPage + 2))
                    {
                        break;
                    }
                }
            }
            else
            {
                for (int i = 1; i <= pageCount; i++)
                {


                    if (i == currentPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="PlotsWithPagination" asp-route-page="@currentPage" tabindex="-1">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="PlotsWithPagination" asp-route-page="@i">@i</a></li>
                    }
                    if (i > (currentPage + 2))
                    {
                        break;
                    }
                }
            }

        </ul>
    </nav>
*@

<div id="chartContainer" style="margin-bottom:600px"></div>



<script>

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	title: {
		text: "Comparison Of 3 Block Rates"
	},
	subtitles: [{
		text: "PKR"
	}],
	axisY: {
		prefix: "PKR"
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "area",
		name: "A",
		markerSize: 0,
		xValueType: "dateTime",
		xValueFormatString: "MMM YYYY",
		yValueFormatString: "pkr #,##0.##",
		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	},
	{
		type: "area",
		name: "B",
		markerSize: 0,
		xValueType: "dateTime",
		xValueFormatString: "MMM YYYY",
        yValueFormatString: "pkr #,##0.##",
		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	},
    {
		type: "area",
		name: "C",
		markerSize: 0,
		xValueType: "dateTime",
		xValueFormatString: "MMM YYYY",
        yValueFormatString: "pkr #,##0.##",
		dataPoints: @Html.Raw(ViewBag.DataPoints3)
	}
	]
});
chart.render();

}
</script>


</script>
@section head{
    <style type="text/css">
        body {
            background-image: url('https://res.cloudinary.com/daers/image/upload/v1650293095/plotimage_cbhwbd.jpg');
            margin: 0;
            background-repeat: no-repeat;
            background-size: 100% 400px;
        }
    </style>
}

