@model realstate.models.ViewModels.VMModels.AddPlotAndPhotos;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Update";
    var altImage = "//www.feednavigator.com/var/wrbm_gb_food_pharma/storage/images/9/2/8/5/235829-6-eng-GB/Feed-Test-SIC-Feed-20142.jpg";
}
@{
    await Html.RenderPartialAsync("BreadCrumbPartialView", new string[] { "MyPosts", "Detail", Model?.Block,"UpdatePost" });
},

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        @if (Model.PlotId != 0)
        {
            <input type="hidden" asp-for="PlotId" />
            <input type="hidden" asp-for="UserId" />
        }


        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="carouselExampleControls" class="carousel slide text-black text-center" data-ride="carousel">
            <div class="carousel-inner text-black">
                @if (Model?.PhotosUrl?.Count > 0)
                {


                    <div class="carousel-item active">
                        <img class="d-block w-100 h-50" style="min-height: 400px; min-width: 400px; max-height: 800px; max-height: 800px" src="@Model.PhotosUrl[0]" alt="First slide">
                    </div>
                    @for (int i = 1; i < Model.PhotosUrl.Count; i++)
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100 h-50" style="min-height: 400px; min-width: 400px; max-height: 800px; max-height: 800px" src="@Model.PhotosUrl[i]" alt="First slide">
                        </div>


                    }
                }
            </div>
            <a class="carousel-control-prev text-black" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only text-black">Previous</span>
            </a>
            <a class="carousel-control-next text-black" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="sr-only text-dark">Next</span>
            </a>
        </div>



        <div class="col-8 text-center pt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Block">Block</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.Block, Model.BlockTypes, "--Available Block--", new { @class = "form-control" })
                    <span asp-validation-for="Block" class="text-danger"></span>
                </div>
            </div> @*Block*@
            <div class="form-group row">
                <div class="col-4">
                    <label class="overflow-hidden" asp-for="CompleteAddress">Complete Address</label>
                </div>
                <div class="col-8">
                    <input asp-for="CompleteAddress" class="form-control" />
                    <span asp-validation-for="CompleteAddress" class="text-danger"></span>
                </div>
            </div> @*CompleteAddress*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PlotSize">Plot Size</label>
                </div>
                <div class="col-4">
                    <input asp-for="PlotSize" class="form-control" />
                    <span asp-validation-for="PlotSize" class="text-danger"></span>
                </div>
                <div class="col-4">
                    @Html.DropDownListFor(x => x.SelectedUnit, Model.Units, "--Available Block--", new { @class = "form-control" })
                    <span asp-validation-for="SelectedUnit" class="text-danger"></span>
                </div>
            </div> @*PlotSize*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price">Price</label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label class="form-control">PKR</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>  @*Type*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Type">Type</label>
                </div>
                <div class="col-4">
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                
            </div> @*Price*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description">Description</label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div> @*Description*@
            <div class="form-group row">
                <div class="col-4">
                    Available Societies
                </div>
                <div class="col-8">
                    <input disabled asp-for="SocietyName" class="form-control" />
                    <span asp-validation-for="SocietyName" class="text-danger"></span>
                </div>
            </div> @*SelectingSociety*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ImagePaths">Add Plot Images</label>
                </div>
                <div class="col-8">

                    <input asp-for="ImagePaths" type="file" multiple name="postedFiles" class="form-control" />
                    <span asp-validation-for="ImagePaths" class="text-danger"></span>
                </div>
            </div> @*SelectImages*@
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button asp-action="Upsert" type="submit" class="btn btn-outline-primary form-control">Update Plot</button>
                        </div>
                        <div class="col">
                            <a asp-action="DetailSec" asp-route-id="@Model.PlotId" class="btn btn-outline-success form-control">Back</a>
                        </div>
                    </div>
                </div>
            </div> @*Submit*@
        </div>
    </div>


</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
